.filter {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show {
    font-size: 20px;
    margin-right: 14px;
}

.btn {
    background-color: rgb(33, 215, 154);
    color: #fff
}