.items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.item {
    margin: 0 15px;
    border-radius: 10px;
    border: 2px solid #6b6868;
    padding: 6px 10px;
    box-sizing: border-box;
    position: relative;
    width: 250px;
}

.name {
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 10px;
    padding-right: 25px;
}

.text {
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 10px; 
}

.status {
    font-size: 13px;
    font-weight: 300;
}

.delete {
    background-color: rgb(145, 47, 47);
    color: #fff;
}

.update {
    background-color: rgb(18, 116, 168);
    color: #fff;
}

.buttons {
    display: flex;
    justify-content: space-evenly   ;
}

.change {
    width: 20px;
    height: 20px !important;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    img {
        width: 20px;
        height: 100%;
    }
}

.doneClass {
    border: 2px solid green;
}

.onWorkClass {
    border: 2px solid blue;
}

.edit {
    display: flex;
    flex-direction: column;
}

.input {
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(121, 121, 203);
    padding: 10px;
    margin-bottom: 13px;
    box-sizing: border-box;
}

.textarea {
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgb(121, 121, 203);
    padding: 10px;
    margin-bottom: 13px;
    box-sizing: border-box;
}

.btn {
    background-color: rgb(33, 215, 154);
    color: #fff
}